body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e4d9d9;
}

nav {
  background-color: #333;
  color: #f3eded;
  padding: 10px 0;
  text-align: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
}

nav a:hover {
  text-decoration: underline;
}

h1 {
  color: #333;
  text-align: center;
  margin-top: 50px;
}

p {
  text-align: center;
  margin-top: 20px;
  color: #666;
}